export(get_uniprot_data)
export(uniprot_drug_data)
importFrom(httr2,req_perform)
importFrom(httr2,req_url_query)
importFrom(httr2,request)
importFrom(httr2,resp_body_string)
importFrom(httr2,resp_status)
importFrom(stringi,stri_trim_both)
importFrom(stringr,word)
importFrom(tibble,as_tibble)
importFrom(tibble,tibble)
importFrom(utils,read.delim)
